<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletApplicationListener</servlet-name>
        <servlet-class>servlet.ServletApplicationListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletApplicationListener</servlet-name>
        <url-pattern>/ServletApplicationListener</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>discountEditor</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DiscountEditorController</servlet-name>
        <servlet-class>servlet.DiscountEditorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>servlet.AdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vueClient</servlet-name>
        <servlet-class>servlet.vueClient</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>AjoutProduit</servlet-name>
        <servlet-class>servlet.AjoutProduit</servlet-class>
    </servlet>
</web-app>
